@import url('http://fonts.cdnfonts.com/css/streamster');

body {
  background-color: #191231;
  font-size: 1rem;
  margin: 0;
  color: white;
  background-image:linear-gradient(to bottom, hsla(47deg, 98%, 95%, .05) 1px, transparent 1px);
  background-size: 1px 7px;
}

a, h1, h2, h3, h4, h5 {
  text-decoration: none;
  color: white;
  text-shadow:
  0 0 0.08em #fff,
  0 0 0.25em #fff,
  0.05em 0 0 rgba(255, 0, 0, 0.75),
  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

a:hover {
  color: unset;
}

.logo {
  text-align: center;
  position: relative;
}
header{
  position: relative;
  height: 270px;
}

.header-nav{
  background: linear-gradient( #191231 0%, #45125e80 40%, #911a9180 80%, #c30cc380 100% );
}
.stars{
  width: 1px;
  height: 1px;
  background: #fff;
  position: absolute;
}
#sun{
  width: 250px;
  max-width: 250px;
  height: 250px;
  max-height: 250px;
  background: linear-gradient(
      #ffca38 0%,
      rgb(204, 0, 255) 100%
  );
  box-shadow:
  inset 0 0 20px #800080,
  0 0 120px #800080;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.sun{
  height: 0;
  width: 100%;
  position: absolute;
  transform: translateY(60px);
  animation: sunset 6s linear infinite;
}
@keyframes sunset{
  0%,5%{
      background: #45125e;
      opacity: 0;
  }
  10%{
      opacity: 1;
  }
  70%{
      background: #A22561;
  }
  100%{
      height: 20px;
      background: #E03263;
      transform: translateY(250px);
  }
}

.lines {
  position: relative;
  width: 100%;
}

.line {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  border-bottom: 3px solid white;
  border-image: linear-gradient(to left, #191231 1%, rgb(255, 255, 255) 15%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 85%, #191231 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
  background: #fff;
}
.line2 {
  position: absolute;
  z-index: 4;
  bottom: -1px;
  width: 100%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
  0 0 8px #fff,
  0 0 16px #fff,
  0 0 24px #af62ff,
  0 0 32px #af62ff;

  filter: blur(1px);
  border-bottom: 3px solid white;
}

#logo-text {
  position: absolute;
  z-index: 5;
  top: 83%;
  left: 50%;
  padding: 35px;

  -ms-transform: translate(-50%, -50%) rotate(-8deg);
  transform: translate(-50%, -50%) rotate(-8deg);

  font-family: 'Streamster';
  font-size: 5rem;
  color: white;
  text-shadow:
  0 0 0.08em #fff,
  0 0 0.25em #fff,
  0.05em 0 0 rgba(255, 0, 0, 0.75),
  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

@keyframes neon {
  0%, 13% {
    text-shadow: none;
  }
  14%, 17%{
    text-shadow:
    0 0 0.08em #fff,
    /* 0 0 0.25em #fff, */
    0 0 0.33em #ff00dd,
    0 0 0.415em #ff00dd;
  }
  18%, 48%{
    text-shadow: none;
  }
  49%, 52%{
    text-shadow:
    0 0 0.08em #fff,
    /* 0 0 0.25em #fff, */
    0 0 0.33em #ff00dd,
    0 0 0.415em #ff00dd;
  }
  53%, 98%{
    text-shadow: none;
  }
  99%{
    text-shadow: none;
  }
  100%{
    text-shadow:
    0 0 0.08em #fff,
    /* 0 0 0.25em #fff, */
    0 0 0.33em #ff00dd,
    0 0 0.415em #ff00dd;
  }
}

.mountain{
  background: linear-gradient(
      #090910 40%,
      #450547 100%
  );
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.moun1{
  width: 350px;
  height: 80px;
  left: 26%;
}
.moun2{
  width: 400px;
  height: 70px;
  left: 50%;
  transform: translate(-50%, 0);
}
.moun3{
  width: 350px;
  max-width: 400px;
  height: 120px;
  right: 26%;
}

.menu-btn {
  background-color: unset;
  border: none;
  color: white;
  position: absolute;
  right: 0;
  bottom: 20px;
  font-size: 30px;
  text-shadow: 0 0 0.08em #fff, 0 0 0.25em #fff, 0.05em 0 0 rgb(255 0 0 / 75%), -0.025em -0.05em 0 rgb(0 255 0 / 75%), 0.025em 0.05em 0 rgb(0 0 255 / 75%);
}

.offcanvas-body a {
  color: white;
  text-decoration: none;
  text-shadow:
  0 0 0.08em #fff,
  0 0 0.25em #fff,
  0.05em 0 0 rgba(255, 0, 0, 0.75),
  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.lines-bg {
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  opacity: 0.3;
}
.lines-bg img {
  object-fit: fill;
  height: calc(100vh - 270px);
  width: 100%;
  filter: grayscale(100%);
}
.bg-layer {
  background: rgb(25,18,49);
  background: linear-gradient(0deg, rgba(25,18,49,1) 0%, rgba(25, 18, 49, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.links {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project {
  position: relative;
  margin: 50px 0;
}

.project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  display: flex;
}

.content a,
.content span {
  text-decoration: none;
  color: white;
  text-shadow:
  0 0 0.08em #fff,
  0 0 0.25em #fff,
  0.05em 0 0 rgba(255, 0, 0, 0.75),
  -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
  0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.content div span {
  margin: 0 10px;
  font-size: 17px;
}

.content div:last-child span {
  opacity: 0;
}